body {
  font-family: 'Montserrat, sans-serif';
  position:relative;
}

#title {
  background-color:#ff4c68;
  color: #fff;
}


.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  line-height: 1.5;
  font-size: 3.5rem;
}
h2 {
  font-family: "Montserrat,sans-serif";
  font-weight: 900;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;

}



/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

 /* Title Image */
 .pip {
  transform: rotate(15deg)
 }
/* Section: Testimonials Image (pebbles and lady ) */
.testimonial-image {
  height: 100px;
  border-radius:100px;
}


/* Feature Section */
#features i:hover {
  color:#ff4c68;
}
#features i {
  color:#ef8172;
  margin-bottom: 1rem;
}

#features {
  padding: 7% 15%;
}
.feature-box {
  text-align:center;
  padding:5%;
}

p {
  color: #8f8f8f;
}






.feature-box h3 {
  white-space: nowrap;
}
/* Testomonial Section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color:#ef8172;
  color:#fff;
  font-family: "Montserrat, sans-serif";
}

.carousel-item {
  padding: 7% 15%;
}
/* Pess Section */
#press {
  background-color:#ef8172;
text-align: center;
padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* margin: 25px 50px 75px;
top margin is 25px
right and left margins are 50px
bottom margin is 75px
margin with 3 = top/right and left/bottom
top/right and left/bottom
top/right and left/bottom
 */
